
entrypoint = "README.md"
modules = ["postgresql-16"]

[nix]
channel = "stable-24_11"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "bff build"]
run = ["sh", "-c", "PORT=9999 ./build/web"]

[languages.deno]
pattern = "**/*.{ts,js,tsx,jsx,json,jsonc,md,mdx}"
[languages.deno.languageServer]
start = ["deno", "lsp"]
[languages.deno.languageServer.initializationOptions]
enable = true
lint = true
config = "./deno.jsonc"

[workflows]
runButton = "Run for development"

[[workflows.workflow]]
name = "BFF build and run"
mode = "sequential"
author = 33272860

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Bff Build"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Web"

[[workflows.workflow]]
name = "Run for development"
author = 33272860
mode = "parallel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BFF build and run"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run dev tools"

[[workflows.workflow]]
name = "---------------------------"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"this is a separator\""

[[workflows.workflow]]
name = "Run dev tools"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bff devTools --debug"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Test Runner"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Tools Server"

[[workflows.workflow]]
name = "Test Runner"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "deno test --allow-write --allow-read infra/bff/friends/__tests__/llm.test.ts"

[[workflows.workflow]]
name = "Run Web"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./build/web"

[[workflows.workflow]]
name = "Bff Build"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bff build"

[[workflows.workflow]]
name = "Tools Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x ./packages/web/tools.tsx && ./packages/web/tools.tsx"
waitForPort = 9999

[[ports]]
localPort = 3011
externalPort = 3001

[[ports]]
localPort = 8000

[[ports]]
localPort = 8888
externalPort = 3000

[[ports]]
localPort = 9999
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-606cdad4-5695-4398-ba16-1878dd101ab7"

[extension]
isExtension = true

[env]
HISTFILE = "/home/runner/${REPL_SLUG}/.cache/bash_history"
HISTCONTROL = "ignoredups"
HISTFILESIZE = "100000"
HISTSIZE = "10000"
FLAG_DIRENV = "1"
REPLIT_PID1_FLAG_DIRENV = "1"
FLAKE_PATH = "$HOME/workspace/nix_system/bin"
INFRA_BIN_PATH = "$HOME/workspace/infra/bin"
PATH = "$INFRA_BIN_PATH:$FLAKE_PATH:$PATH"
REPLIT_PORT_THINGY="8284"
DENO_TRACE_PERMISSIONS="true"
DENO_NO_UPDATE_CHECK="1"
OTEL_EXPORTER_OTLP_HEADERS="authorization=$HYPERDX_INGESTION_KEY"
OTEL_EXPORTER_OTLP_ENDPOINT="https://in-otel.hyperdx.io"
OTEL_SERVICE_NAME="CONTENT_FOUNDRY"
BF_ENV="DEVELOPMENT"
